/*!
  kolorfield v0.2.0 (https://kolorfield.js.org)
  by Kodie Grantham (https://kodieg.com)
*/

.kolorfield {
  input[type="color"] {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
  }
  
  .kolorfield-open {
    cursor: pointer;
  }
}
